html, body {
  background-color: hsl(210,100%,99%);
  color: 444444;
}

body {
}

.gh-system {
  & .unc-document__content {
    background-color: #111111;
  }
}

.gh-system__message {
  font-family: monospace;
  font-size: 14px;
  color: green;
}
