$text-color: #666666;

.gh-chat {
  display: flex;
  flex-direction: column;
}
.gh-chat__input {
  border-top: solid 1px #aaaaaa;
  flex: 0 0 auto;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.gh-chat__input-text {
  flex: 1 1 auto;
}
.gh-chat__input-button {
  flex: 0 0 auto;
}
.gh-chat__output {
  flex: 1 1 auto;
  overflow-y: scroll;
}
.gh-chat__output-lines {
  padding: 8px;
}
.gh-chat__output-line {
  font-style: italic;
  color: $text-color;
}
