.gh-validation {
  display: none;
}

.gh-validation--fail {
  color: red;
  display: inline;
}

button, input {
  font-size: 16px;
}

textarea,
input[type=text],
input[type=password] {
  margin: 4px;
  padding: 4px;
  width: calc(100% - 10px);
}

button {
  border-style: none;
  border-radius: 4px;
  padding: 8px;
}

.gh-errors {
  margin: 0;
}
.gh-errors__item {
  color: hsla(0, 100%, 40%, 1);
}

.gh-button {

}
