.gh-player-list {
  display: flex;
  flex-direction: row;
  background-color: hsla(0, 100%, 75%, 1);
  padding: 6px;
}
.gh-player-list__header {
  width: 128px;
  height: 64px;
  text-align: center;
  padding: 10px;
}
.gh-player-list__header-title {
  margin: 20px 0;
  font-size: 20px;
}
.gh-player-item__header-character {
  color: #666666;
  font-size: 20px;
}
.gh-player-item__header-player {
  color: #888888;
  font-size: 14px;
  font-style: italic;
}
.gh-player-list__content {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.gh-player-item {
  margin-left: 2px;
  text-align: center;
  border: solid 1px #444444;
  background-color: hsla(0, 80%, 85%, 1);
  min-width: 128px;
  height: 64px;
}

.gh-player-item:not(.gh-player-item--connected) {
  font-style: italic;
  opacity: 0.3;
}
.gh-player-item:not(.gh-player-item--connected) * {
}
.gh-player-item--connected {
}
.gh-player-item--me {
  background-color: hsla(180, 80%, 85%, 1);
}
