html, body {
  background-color: #fafcff;
  color: 444444; }

html, body {
  margin: 0;
  padding: 0;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-size: 16px; }

* {
  box-sizing: border-box;
  color: #444444; }

.gh-width--full {
  width: 100%; }

.gh-height--full {
  height: 100%; }

.gh-layout--expand {
  flex-grow: 1;
  flex-shrink: 1; }

.gh-layout--fixed {
  flex-grow: 0;
  flex-shrink: 0; }

.gh-layout--row {
  width: 100%;
  display: flex;
  flex-direction: row; }

.gh-layout--column {
  width: 100%;
  display: flex;
  flex-direction: column; }

.gh-menu {
  display: inline-block;
  padding: 8px; }

.gh-menu > * {
  display: inline-block;
  padding: 8px; }

.gh-panel {
  width: 480px;
  margin: 0 auto; }

.gh-section {
  margin: 0;
  padding: 8px; }

.gh-link {
  cursor: pointer;
  font-size: 18px;
  color: #643300;
  height: 40px;
  padding: 10px 10px; }

.gh-button {
  background-color: #166E34;
  color: white;
  height: 40px;
  min-width: 80px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 16px;
  cursor: pointer; }

.gh-button:hover {
  background-color: #166E34; }

.gh-textfield {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #643300;
  background-color: white;
  padding: 8px;
  display: flex;
  flex-direction: row; }

.gh-section > .gh-textfield {
  border-width: 0 1px 1px 1px; }

.gh-section > div:first-of-type.gh-textfield {
  border-width: 1px;
  border-radius: 5px 5px 0 0; }

.gh-section > div:last-of-type.gh-textfield {
  border-radius: 0 0 5px 5px; }

.gh-textfield__input {
  border: none;
  width: 100%;
  font-size: 18px;
  color: #965C1E; }

.gh-textfield__input:focus {
  outline: none; }

.gh-textfield__input::placeholder {
  color: #F6E1CB; }

.gh-textfield__errors {
  list-style: none;
  padding: 0;
  margin: 0; }

.gh-textfield__errors li {
  display: inline-block;
  color: red; }

.gh-textfield__errors li::before {
  content: '|';
  color: #F6E1CB;
  margin: 0 4px 0 4px; }

.gh-textfield__errors li:first-child::before {
  content: ""; }

.gh-textfield__description {
  text-align: right;
  font-size: 14px;
  font-style: italic;
  color: #C79662; }

.gh-textfield__indicators > * {
  margin-left: 4px; }

.gh-textfield__indicator--has-errors {
  font-size: 18px;
  color: red; }

.gh-textfield__indicator--is-required {
  font-size: 18px;
  color: red; }

.gh-section__footer {
  font-style: italic;
  color: #C79662;
  margin: 8px 0 0 0; }

.gh-card {
  background-color: #F6E1CB;
  border: solid 1px #965C1E;
  border-radius: 4px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
  margin: 16px; }

.gh-card__content,
.gh-card__header,
.gh-card__footer {
  margin: 0;
  padding: 8px; }

.gh-card__header > *,
.gh-card__footer > * {
  margin: 8px; }

.gh-card__header {
  background-color: #643300;
  color: #F6E1CB;
  font-size: 24px;
  padding-left: 16px;
  padding-right: 16px; }

.gh-card__footer {
  border-top: solid 1px #C79662;
  display: flex;
  flex-direction: row; }

/*# sourceMappingURL=index.css.map */
