html, body {
  margin: 0;
  padding: 0;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-size: 16px; }

* {
  box-sizing: border-box;
  color: #444444; }

.gh-width--full {
  width: 100%; }

.gh-height--full {
  height: 100%; }

.gh-layout--row {
  display: flex;
  flex-direction: row; }

.gh-layout--column {
  display: flex;
  flex-direction: column; }

.gh-menu {
  display: inline-block;
  padding: 8px; }

.gh-menu > * {
  display: inline-block;
  padding: 8px; }

.gh-homepage {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column; }

.gh-homepage__header {
  flex: 0 0 auto; }

.gh-homepage__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column; }

.gh-homepage__content > * {
  flex: 1 1 auto; }

.gh-player-list {
  display: flex;
  flex-direction: row;
  background-color: #ff8080;
  padding: 6px; }

.gh-player-list__header {
  width: 128px;
  height: 64px;
  text-align: center;
  padding: 10px; }

.gh-player-list__header-title {
  margin: 20px 0;
  font-size: 20px; }

.gh-player-item__header-character {
  color: #666666;
  font-size: 20px; }

.gh-player-item__header-player {
  color: #888888;
  font-size: 14px;
  font-style: italic; }

.gh-player-list__content {
  display: flex;
  flex-direction: row;
  overflow-x: scroll; }

.gh-player-item {
  margin-left: 2px;
  text-align: center;
  border: solid 1px #444444;
  background-color: #f7baba;
  min-width: 128px;
  height: 64px; }

.gh-player-item:not(.gh-player-item--connected) {
  font-style: italic;
  opacity: 0.3; }

.gh-player-item--me {
  background-color: #baf7f7; }

.gh-document-list {
  background-color: #b3e6e6;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.gh-document-list__header {
  background-color: #8cd9d9;
  padding-left: 4px;
  font-size: 22px;
  height: 24px;
  flex: 0 0 auto; }

.gh-document-list__header-title {
  margin: 0;
  flex: 1 1 auto; }

.gh-document-list__content {
  position: relative;
  flex: 1 1 auto;
  overflow: scroll; }

.gh-document-item {
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 4px 10px #aaaaaa;
  border: solid 1px #aaaaaa; }

.gh-document-item__header,
.gh-document-item__content {
  overflow: hidden; }

.gh-document-item__header {
  flex: 0 0 auto;
  padding: 8px; }

.gh-document-item__header-title {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.gh-document-item__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column; }

.gh-document-item__content > * {
  flex: 1 1 auto; }

.gh-chat {
  display: flex;
  flex-direction: column; }

.gh-chat__input {
  border-top: solid 1px #aaaaaa;
  flex: 0 0 auto;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 8px; }

.gh-chat__input-text {
  flex: 1 1 auto; }

.gh-chat__input-button {
  flex: 0 0 auto; }

.gh-chat__output {
  flex: 1 1 auto;
  overflow-y: scroll; }

.gh-chat__output-lines {
  padding: 8px; }

.gh-chat__output-line {
  font-style: italic;
  color: #666666; }

.gh-validation {
  display: none; }

.gh-validation--fail {
  color: red;
  display: inline; }

button, input {
  font-size: 16px; }

textarea,
input[type=text],
input[type=password] {
  margin: 4px;
  padding: 4px;
  width: calc(100% - 10px); }

button {
  border-style: none;
  border-radius: 4px;
  padding: 8px; }

.gh-errors {
  margin: 0; }

.gh-errors__item {
  color: #cc0000; }

/*# sourceMappingURL=index.css.map */
